<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<div>
    <form method="post" action="/addProduct">
        <input type="text" name="title" placeholder="Название товара">
        <input type="text" name="description" placeholder="Описание товара">
        <input type="text" name="URL" placeholder="Ссылка картинки">
        <input type="number" name="price" placeholder="Стоимость товара">
        <button type="submit">Добавить</button>
    </form>
</div>
<div  class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div th:each="el : ${products}" class="col-md-4">
                <div  class="card mb-4 shadow-sm">
                    <h4 th:text="${el.title}" class="card-title pricing-card-title"></h4>
                    <img th:src="${el.imgUrl}" src="https://fdparts.ru/parts_img/6ad6c244e10ad8af3723a3321a7dc32d.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" th:text="${el.description}"></p>
                        <h4 th:text="${el.price}" class="card-title pricing-card-title"></h4>
                        <form method="post" th:action="'/del?id=' + ${el.id}"><button class="btn btn-warning">Удалить</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>