<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<h1>Корзина</h1>
<div id="cart">
    <div th:if="${not #arrays.isEmpty(purchases)}">
    <table class="table table-bordered" style=" margin-left: auto;
                                 margin-right: auto;
                                 width: auto">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Количесто</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${purchases}" >
            <td th:text="${p.title}" ></td>
            <td th:text="${p.price}"></td>
            <td>
                <button type="button" class="btn btn-outline-danger">&#10008;</button>
            </td>
        </tr>

        </tbody>
    </table>
    <p align="center"><strong>Стоимость: </strong><span th:text="${allPrice} + ' &#8381;'" class="price"></span></p>

    </div>
    <p style="margin-left: auto; margin-right: auto;" th:if="${#arrays.isEmpty(purchases)}">Корзина пуста</p>
    </div>

</body>
</html>