<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="blocks/head :: head"/>

<body>
<header th:include="blocks/header :: header"></header>
<div th:if="${message}" th:text="${message}"></div>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form method="post" action="/register">
            <input type="text" name="username" placeholder="username">
            <input type="password"  name="password" placeholder="password">
            <input type="submit"  value="Зарегистрироваться">
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>


</body>
</html>