
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>

<div  class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div th:each="el : ${products}" class="col-md-4">
                <div  class="card mb-4 shadow-sm">
                    <h4 th:text="${el.title}" class="card-title pricing-card-title"></h4>
                    <img th:src="${el.imgUrl}" src="https://fdparts.ru/parts_img/6ad6c244e10ad8af3723a3321a7dc32d.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" th:text="${el.description}"></p>
                        <form th:action="'/buy?id=' + ${el.id}" method="post"><button class="btn btn-primary">Купить</button></form>
                        <h4 th:text="${el.price} + ' &#8381;'" class="card-title pricing-card-title"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span sec:authorize="isAuthenticated()">| Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span>

</body>
</html>
