<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="blocks/head :: head"/>
<body>
<header th:include="blocks/header :: header"></header>
<h1>Изменение пользователей</h1>
<form action="/user" method="post">
    <input type="text" th:value="${user.username}" name="username">
    <div th:each="role : ${roles}">
        <lable th:text="${role}"></lable>
        <input type="checkbox" th:name="${role}" th:checked="${#strings.contains(role , user.getRoles())}">
    </div>
    <input type="hidden" th:value="${user.id}" name="userId">

    <button type="submit">Сохранить</button>
</form>
</body>
</html>