<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="blocks/head :: head"></head>
<body>
<header th:insert="blocks/header :: header"/>
<h1>Список пользователей</h1>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Role </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.username}"> Name </span></td>
        <td><span  th:text="${user.getRoles()}"> Role </span></td>
        <td><a th:href="'/user/'+${user.id}">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>