<div th:fragment="header">
    <div>
        <div  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">Your auto parts</h5>
            <nav  class="my-2 my-md-0 mr-md-3">
                <a  class="p-2 text-dark" href="/">Каталог</a>
                <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/cart">Корзина</a>
                <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/user">Пользователи</a>
                <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/addProduct">Добавить товар</a>
            </nav>
            <a sec:authorize="isAuthenticated()" class="btn btn-outline-primary" href="/logout" th:method="post" >Выйти</a>
            <a sec:authorize="not isAuthenticated()" class="btn btn-outline-primary" href="/login">Войти</a>
        </div>
    </div>
</div>